@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@font-face {
    font-family: "Mona Sans";
    src: url("../public/fonts/Mona-Sans.woff2");
}

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background: #1B1F24;
}

::-webkit-scrollbar-thumb {
    background: #5a6075;
    border-radius: 100vw;
}